<div style="width: 100%;">
    <div class="container">
        <div class="item" *ngFor="let hour of hours">{{ hour | date : "HH:mm" }}</div>
    </div>
</div>

<mat-progress-bar mode="determinate" [value]="timeProgress" style="width:100%; height:20px;">
</mat-progress-bar>

<div style="position: relative; top: -20px;">
    
    <div style="height: 20px; width: 100%; ">
        <span *ngFor="let tripStart of tripStartOffsets" 
            style="color: red; position: absolute;" 
            [style.left]="tripStart * 100 + '%'"
        >|</span>
    </div>


    <div #map style="width:100%; height:800px;"></div>
</div>


